.divider-nav-gray {
  border-right: thin solid #191919;
  border-bottom: thin solid #191919;
}

.divider-gray-1 {
  border-right: thin solid #333;
  border-bottom: thin solid #333;
}

.divider-gray-2 {
  border-right: thin solid #666;
  border-bottom: thin solid #666;
}

.divider-gray-3 {
  border-right: thin solid #949494;
  border-bottom: thin solid #949494;
}

.divider-gray-4 {
  border-right: thin solid #aaaaaa;
  border-bottom: thin solid #aaaaaa;
}

.divider-gray-5 {
  border-right: thin solid #c6c6c6;
  border-bottom: thin solid #c6c6c6;
}

.divider-gray-6 {
  border-right: thin solid #f1f1f1;
  border-bottom: thin solid #f1f1f1;
}
